@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* vijual part of the brwser */
  overflow: hidden; /* noscroll bars to show */
  margin: 0;
}

button{
  height: 50px;
  width: 15%;
  margin-top: 15%;
  border-radius: 10px;
  
}

.main{
  width: 90%;
  height: 40%;
  border: 1px solid red;
  display: inline-flex;
  flex-direction: row;
}


.left{
  height: 40%;
  width: 40%;
  border: 1px solid #000;
  margin: 10%;
}

.right{
  height: 40%;
  width: 40%;
  border: 1px solid #000;
  margin: 10%;
  
}

