@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* vijual part of the brwser */
  overflow: hidden; /* noscroll bars to show */
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/93aa50b368e74e7f8ec3749b69d26920.jpg);
}

button{
  height: 50px;
  width: 15%;
  margin-top: 10%;
  border-radius: 10px;
  
}

button:active{
  height: 45px;
  width: 14%;
  margin-top: 10%;
  border-radius: 10px;
}

#trtanslateToNew{
  margin-top: 5px;
}

.main{
  width: 90%;
  height: 40%;
  border: 1px solid red;
  display: inline-flex;
  flex-direction: row;
}


.left{
  height: 40%;
  width: 40%;
  border: 1px solid #000;
  margin: 10%;
}

.right{
  height: 40%;
  width: 40%;
  border: 1px solid #000;
  margin: 10%;
  
}
textarea{
  height: 100%;
  width: 100%;
}
